/* mixins for flexbox cross-browser compatibilty */
/*  global styles  */
body {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
  color: #2C3E50;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5; }

/* section styles */
.sl-hero {
  color: white;
  background-color: #2C3E50; }

.sl-free-students {
  color: white;
  background-color: #2C3E50; }

.sl-footer {
  color: white;
  background-color: #2C3E50; }
